
.container {
	max-width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.greytext {
	color: #b3b3b3;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
}
.row {
	margin-bottom: 5px;
	margin-top: 5px;
}
body {
	padding-top:15px;
	padding-bottom:15px;
}
.spacer {
	padding-top:15px;
	padding-bottom:15px;
}
footer {
	max-width: 700px;
}